.intro {
    height: 100vh;
    color: #fff;
}

.intro .jumbotron{
    background-image: linear-gradient(to left bottom, #62378a, #388b5ecb), url(../../images/bg-intro3.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}

