.intro {
    height: 90vh;
    color: #fff;
}

.intro .jumbotron{
    background-image: url(../../images/services-xl.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}